**LAMBDA FUNCTION**

lambda is a keyword.

**lambda function** : which is a function and it can only perform one expression and it is an anonymous function(it doesn't contain any name).

In [2]:
#normal function
def fun(a,b,c,d):
  print("sum is",a+b+c+d)
  print("mul is",a*b*c*d)
fun(1,2,3,4)

sum is 10
mul is 24

In [12]:
#lambda function
x=lambda a,b,c,d:a+b+c+d
print(x(1,2,3,4))

#it can only perform one operation

10

In [20]:
#syntax
#print((lambda f_arguements:expression)(A_arguements))
print((lambda a,b,c:a*b*c)(7,26,5))

910

In [15]:
#using lambda function inside another function
def add(a,b,c,d):
  print((lambda j,k,l,m:j+k+l+m)(a,b,c,d))
add(7,77,777,7777)

8638

In [23]:
#lambda for conditional assignments
a=lambda x:x*10 if(x<10) else x-10
print(a(9))
print(a(19))

90
9

In [31]:
#lambda for assignment
tables=[lambda x=x:x*7 for x in range(1,10)]
#print(tables)
#inorder to print tables we need to call the lambda function
for i in tables:
  print(i())

7
14
21
28
35
42
49
56
63

**comprehension** : the process of performing tasks in short and precise way.
There are 4 types of comprehension

1.List

2.Set

3.Dict

4.Generator

**List Comprehension**

In [36]:
mylist=[1,2,3,5,6,7,8]
print(mylist)

even_list=[]
odd_list=[]
for i in mylist:
  if i%2==0:
    even_list.append(i)
  else:
    odd_list.append(i)
print("even_list=",even_list,"\nodd_list=",odd_list);

[1, 2, 3, 5, 6, 7, 8]
even_list= [2, 6, 8]
odd_list= [1, 3, 5, 7]

In [38]:
even=[value for value in mylist if value%2==0]
odd=[value for value in mylist if value%2!=0]
print(" ",even,"\n",odd)

  [2, 6, 8]
 [1, 3, 5, 7]

**Dict Comprehensio**
it consits of key and value

In [40]:
dict={}
for i in mylist:
  dict[i]=i*7
print(dict)

#comprehension
dict={value:value*2 for value in mylist}
print(dict)

{1: 7, 2: 14, 3: 21, 5: 35, 6: 42, 7: 49, 8: 56}
{1: 2, 2: 4, 3: 6, 5: 10, 6: 12, 7: 14, 8: 16}

In [43]:
sett=set()
print(mylist)
for i in mylist:
  if i%2==0:
    sett.add(i)
print(sett)

[1, 2, 3, 5, 6, 7, 8]
{8, 2, 6}

In [48]:
sett={value for value in mylist if value%2==0}
#print(set(sett))
print(sett)

{8, 2, 6}
{8, 2, 6}

generator to be learned